!!! 5
%html
  %head
    %title 
      Highcharts Rails
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://code.highcharts.com/highcharts.js"}
    %script{src: "http://code.highcharts.com/modules/data.js"}
    %script{src: "https://rawgit.com/mholt/PapaParse/master/papaparse.js"}
  %body
    = yield
